*{
  margin: 0;
  padding: 0;
}

body{
  background-color: aqua;
}

.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 20px;

}
#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  align-items: center;
  justify-content: center;
  
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
  background-color: rgb(243, 14, 60);
}

#status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

.btn{
  height: 40px;
  width: 100px;
  margin-left: 47%;
  margin-top: 10px;
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
}